@import "tailwindcss";
@import "@repo/design-system/styles/globals.css";

html,
body {
  scroll-behavior: smooth;
  font-size: 16px;
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@layer utilities {
  .w-logo {
    width: clamp(1.5rem, 0rem + 3.125vw, 5rem);
  }
}
