@import "tailwindcss";
@import "tw-animate-css";
@source "../**/*.{ts,tsx}";

@plugin "@tailwindcss/typography";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* english fonts */
  --font-times-new-roman: var(--font-times-new-roman);
  --font-dm-sans: var(--font-dm-sans);
  /* tamil fonts */
  --font-anek-tamil: var(--font-anek-tamil);
  --font-tamil-sangam-mn: var(--font-tamil-sangam-mn);
}

body {
  @apply bg-background text-foreground;
}
